<div class="container">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Sno.</th>
        <th scope="col">Todo Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of allTodo">
        <th scope="row">{{todo.id}}</th>
        <td>{{todo.todo_name}}</td>
        <td>{{todo.desc}}</td>
        <td>$ {{todo.price}}</td>
        <td>
          <button class="btn btn-outline-warning" routerLink="/editTodo/{{todo.id}}"><i
              class="fa-solid fa-pen"></i></button>
          <button class="btn btn-outline-danger mx-2" (click)="deleteTodo(todo.id)"><i
              class="fa fa-trash-alt"></i></button>
        </td>
      </tr>

    </tbody>
  </table>
</div>