<nav class="navbar navbar-expand-lg navbar-light bg-success ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="todoList"><i class="fa-solid fa-house"></i>NG Todo App</a>
    <div class="d-flex">


      <button class="btn btn-danger" routerLink="addTodo"> <i class="fa fa-plus-circle text-white"> </i> New Todo
      </button>

    </div>
  </div>
</nav>

<div class="conatiner text-center bg-success text-white">
  <h2> Welcome to Angular ToDo App</h2>


</div>

<div class="container">
  <router-outlet></router-outlet>
</div>